<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <p>
        Dear <%MANAGER_NAME%>, <br/>
        You have been assigned as a managaer in work order asset id : <%ASSETID%>.
        <!--<br />
        To complete the registration process kindly click this <a href="<%PROFILE_LINK%>">link</a>-->
    </p>
     
    <p>
        Thank you for using EZTrack!
    </p>

    <!--<p>
        Precision Material Management<br />
        <a href="tel:+18003400128">(800) 340-0128</a><br />
        <a href="mailto:info@precisionmaterial.net">info@precisionmaterial.net</a>
        <br>
    </p>-->

</body>
</html>
